/* .bs {
  position: relative;
  left: 12rem;
  top: 5rem;
  width: 700px;
}

.picss {
  height: 140px;
  width: 130px;
  margin-left: 4rem;
}
.se {
  background-color: transparent !important;
  color: white !important;
}

.tabs {
  font-weight: bolder !important;
  font-size: 18px !important;
} */
