@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@600&display=swap");

.mainerr {
  position: relative;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav-ic {
  color: white;
  position: relative;
}
#nav-l {
  color: white;
  text-decoration: double underline;
}
#homess {
  font-size: 1.5rem;
  position: relative;
  left: 3rem;
  width: max-content;
}
#home-ic {
  position: relative;
  bottom: 0px;
}
.errors {
  background-color: rgb(73, 71, 71);
  padding-top: 5rem;
  padding-bottom: 3rem;
  font-family: "Poppins";
  animation-name: errors;
}
#error-pic {
  height: 400px;
  width: 600px;
}
#cartoon {
  position: relative;
  bottom: 1.5rem;
  height: 450px;
  width: 500px;
}

.dark-body .errors {
  background-color: rgb(39, 36, 36);
}

/* responsive */

@media only screen and (max-width: 1280px) {
  .mainerr {
    position: relative;
    right: 0rem;
    display: flex;
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 768px) {
  #cartoon {
    position: relative;
    bottom: 0rem;
    height: 380px;
    width: 400px;
  }
  #error-pic {
    height: 320px;
    width: 500px;
  }
}

@media only screen and (max-width: 525px) {
  #cartoon {
    height: 300px;
    width: 350px;
  }
  #error-pic {
    height: 280px;
    width: 400px;
  }
  #homess {
    font-size: 1.3rem;
    top: 2rem;
    position: relative;
    left: 1.2rem;
    width: max-content;
  }
}

@media only screen and (max-width: 392px) {
  #cartoon {
    height: 280px;
    width: 300px;
    position: relative;
    bottom: 0rem;
  }
  #error-pic {
    height: 230px;
    width: 300px;
  }
}
